<ul class="info">
    <li>
        <div class="info__title">
            <img src="../../../../assets/images/icon/streamline.svg" alt="title">
            <h3>BeeSound</h3>
        </div>
        <p>BeeSound is the one of the world’s largest online shops that providing over 1500 headphones for its costumers from over 80 countries</p>
        
        <ul class='info__social'>
          <li class='info__social__col'>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <div class='info__social__col__insta box'></div>
          </li>
          <li class='info__social__col'>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <div class='info__social__col__linkedln box'></div>
          </li>
          <li class='info__social__col'>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <div class='info__social__col__telegram box'></div>
          </li>
          <li class='info__social__col'>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <div class='info__social__col__whatsapp box'></div>
          </li>
          <li class='info__social__col'>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <div class='info__social__col__youtube box'></div>
          </li>
        </ul>
    </li>
    <li>
        <h3>Site Map</h3>
        <ul class="info__map">
            <li>About Us</li>
            <li>Contact Us</li>
            <li>FAQ’s</li>
            <li>Customers Services</li>
        </ul>
    </li>
    <li>
        <h3>Products</h3>
        <ul>
            <li>Headphones</li>
            <li>Speakers</li>
        </ul>
    </li>
    <li>
      <h3>Subscription</h3>
      <form>
        <input class="email" type="text" placeholder="Enter Your Email">
        <input class="but" type="button" value="Submit">
      </form>
    </li>
</ul>