<div class="title">
    <img src="../../../../assets/images/icon/menu-3d.svg" alt="menu" (click)="showMenu()" *ngIf="menu">
    <img src="../../../../assets/images/icon/streamline.svg" alt="title" (click)="goToUrl('')">
    <h2 (click)="goToUrl('')">BeeSound</h2>
</div>

<ul *ngIf="menuShow">
    <li><a [routerLink]="'main'" routerLinkActive="active">Our Colection</a></li>
    <li><a href="">New Arrivals</a></li>
    <li><a href="">For Gamers</a></li>
</ul>

<div class="panel">
    <img src="../../../../assets/images/icon/search.svg" alt="search">
    <img src="../../../../assets/images/icon/shop.svg" alt="shop">
    <img [src]="userImg" alt="user" (click)="toggleUserOpen()">
</div>
<bsa-login-form
    *ngIf="isLogin"
    [isLogin]="isLogin"
    (closeLogin)="returnLogin()"
    [imgLogin]="userImg"
    (returnImgLogin)="returnImage($event)"
></bsa-login-form>